/*xiketic: #0D0C1D -darkest
oxford blue: #161B33 
purple navy: #474973
heliotrope gray: #A69CAC -prim
almond: #F1DAC4 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0c1d;
  color: #a69cac;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #a69cac;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: #f1dac4;
    font-weight: 350;
    background-color: #474973;
    border-radius: 8px;
    margin-top: 20px;
    padding: 5px 20px;
    transition: 0.3s ease;
    transition-property: background-color, color;
  }
  
  .btn:hover {
    background-color: #a69cac;
    color: #474973;
  }

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #474973;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #a69cac;
}

/*Navbar*/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161b33;
  color: #a69cac;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  top: 0;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar a {
  color: #a69cac;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #474973 2px solid;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
}

.navbar .logo {
  font-weight: 600;
  font-size: 45px;
}

/*Header*/
.video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    rgba(12, 3, 51, 0.271),
    rgba(12, 3, 51, 0.271)
  );
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 70px;
  text-shadow: -2.5px 2.5px 5px #161b33;
  color: #474973;
  font-weight: 600;
  text-transform: uppercase;
}

.content p {
  font-size: 30px;
  font-weight: 600;
  text-shadow: -2.5px 2.5px 3px #474973;
  text-transform: uppercase;
}

/* Work section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .grid-item {
    display: inline-block;
    width: auto;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
    }

    .grid-item {
        background-image: linear-gradient(60deg, #2f314d 10%, #161b33 90%);
        color: #A69CAC;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
        border-radius: 8px;
    }
}

#projects #grid-footer a {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #161b33;
    border: 2px solid #161b33;
    width: 100%;
    border-radius: 8px;
    margin: 5px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease;
    transition-property: background-color;
}

#projects #grid-footer a:hover {
    background-color: transparent;
    opacity: 0.7;
    border: 2px solid #161b33;
}

#projects .grid-info h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

#projects .grid-info h2 {
  font-size: 25px;
  font-weight: 400;
}
/*End Work section */

/* About section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 300px;
  height: auto;
}

#about .col-right {
  align-items: center;
  justify-content: center;
}

#about .col-right h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
  text-align: justify;
  max-width: 600px;

}

#about .col-left .about-img {
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
}

/*End About section */
